.navbar-top-links li a {
    padding: 15px;
    min-height: 60px;
}
.navbar-top-links li:last-child {
    margin-right: 15px;
}
.sidebar {
    z-index: 1;
    position: absolute;
    width: 220px;
    margin-top: 61px;
}
#page-wrapper {
    position: inherit;
    margin: 0 0 0 220px;
    padding: 0px;
    border-left: 1px solid #e7e7e7;
}
#page-wrapper .container-fluid{
    padding:0px;
}
.login-panel {
    margin-top: 25%;
}