<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <link href="../../css/register.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../../js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="../../js/register.js"></script>
    <meta id="OpenId" name="openId" content="<%=OpenId %>"/>
    <script>
        $(function () {
            var openId=$("#OpenId")[0].content;
            $('#confirmButton').click(function(){
                var data = {
                    mobile: $('#phone').val(),
                    openId:openId,
                    code:$('#checkCode').val()
                };
                alert(data);
                console.log(data);
                $.ajax({
                    url: '../personalcoupon/confirmWithPhone',
                    type: 'post',
                    data: data,
                    dataType: 'html',
                    timeout: 10000,
                    error: function (err) {
                        alert("获取优惠券信息失败！" + JSON.stringify(err));
                    },
                    success: function (msg) {
                        if(msg.success==true){
                            //注册成功
                            window.parent.location.href= "/personalCoupon/getMainPersonalCouponInfo?openId="+openId;
                        }else{
                            //注册失败
                            alert("注册失败");
                        }
                    }
                })
            });
        })

    </script>
    <title>输入手机号领取优惠券</title>
    <body style="background: #FFB900;">
        <div id="layout" >
            <span>输入手机号，领取奖品</span>
            <div>
                <!--<div>-->
                    <!--<p style="font-size:18px;color:red;">输入手机号码：</p>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<input type="text" id="phone" name="phone"/>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<p style="font-size:18px;color:red;">验证码：</p>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<input type="text" id="checkCode" name="checkCode" size="6"/>-->
                    <!--<input id="btnSendCode" type="button" value="发送验证码" />-->
                <!--</div>-->
                <ul>
                    <p id="err_msg"></p>
                    <li><i class="un"><img src="../../img/user_name.png"></i><input class="username" id="phone" name="phone" type="text" placeholder="请输入手机号" /></li>
                    <li><i class="yz"><img src="../../img/msg.png"></i><input class="yzm" type="text" id="checkCode" name="checkCode" placeholder="请输入手机验证码" /><input type="button"  id="send" value="获取验证码" /></li>
                    <li>
                        <div class="reg_btn">
                            <button class="submit"  id="confirmButton">确认</button>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </body>
</html>